* {
  box-sizing: border-box;
}

body {
  background-color: #b4b4fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-family: "Press Start 2P", cursive;
  text-shadow: -1px 0 black, 0 4px black, 2px 0 black, 0 -1px black;
  font-size: 45px;
  color: #c2ed18;
}

canvas {
  background: #c2ed18;
  display: block;
  border-radius: 30px;
}

.btn {
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
  border: 0;
  padding: 10px 10px;
  background: #bf94e4;
  color: #c2ed18;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background: #c2ed18;
}

.btn:active {
  transform: scale(0.98);
}

.rules-btn {
  background: #bf94e4;
  font-family: "Press Start 2P", cursive;
  position: absolute;
  top: 30px;
  left: 30px;
}

.rules {
  font-family: "Press Start 2P", cursive;
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
  background: #52307c;
  color: #c2ed18;
  min-height: 100vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
}

.rules.show {
  transform: translateX(0);
}
